@charset "utf-8";

footer {
  position: relative;
  .line {
    width: vw(350);
    height: vw(76);
    display: block;
    margin: 0 auto vw(40);
  }
  .recruit_btn {
    margin-top: 0;
    padding: vw(110) 0;
    position: relative;
    a {
      &:after {
        content: "";
        position: absolute;
      }
      &.tel {
        font-size: rem2(50);
        font-weight: bold;
        padding-left: vw(71);
        line-height: vw(62);
        &:after {
          width: vw(42);
          height: vw(51);
          top: vw(85);
          left: vw(19);
          background: url('../images/phone_icon_foo.png')no-repeat;
          background-size: contain;
        }
      }
      &.mail {
        background: #ededed;
        line-height: vw(80);
        height: vw(80);
        &:after {
          left: vw(30);
          top: vw(50);
        }
      }
    }
  }
}
