@charset "utf-8";

footer {
  .recruit_btn {
    padding: vw(110) 0;
    position: relative;
    a {
      &:after {
        content: "";
        position: absolute;
      }
      &.tel {
        font-size: rem2(50);
        font-weight: bold;
        padding-left: vw(60);
        line-height: vw(62);
        &:after {
          width: vw(42);
          height: vw(51);
          top: vw(85);
          left: vw(10);
          background: url('../images/phone_icon_foo.png')no-repeat;
          background-size: contain;
        }
      }
      &.mail {
        background: #ededed;
        line-height: vw(80);
        height: vw(80);
        &:after {
          left: vw(30);
          top: vw(50);
        }
      }
    }
  }
}
