//
// header
//------------------------------------------------------------------------
@charset "utf-8";
.header {
  position: relative;
  .logo {
    padding: 96px 44px 33px 45px;
    a {
      font-size: 0;
      width: 180px;
      display: block;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 180px);
  a {
    display: block;
    font-size: rem(16);
    line-height: rem(24);
    text-align: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: #000;
    transition: all 0.3s linear 0s;
  }
  ul {
    padding-top: 107px;
    li {
      position: relative;
      &:not(:last-child) {
        margin-right: 40px;
      }
      a {
        padding-left: 25px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 7px;
           width: 8px;
           height: 8px;
           border-top: 1px solid #000;
           border-right: 1px solid #000;
           -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
        }
      }
    }
  }
  .header_btn {
    padding-top: 20px;
    a {
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    .tel {
      font-size: rem(28);
      font-weight: bold;
      padding-left: 30px;
      line-height: rem(36);
      margin-bottom: 20px;
      &:after {
        width: 18px;
        height: 27px;
        background: url('../images/phone_icon.png')no-repeat;
        background-size: contain;
      }
    }
    .recruit {
      background: #ededed;
      line-height: rem(53);
      font-size: rem(16);
      width: 216px;
      height: 53px;
      font-weight: bold;
      padding-left: 30px;
      &:after {
        width: 25px;
        height: 16px;
        left: 20px;
        background: url('../images/mail.png')no-repeat;
        background-size: contain;
      }
    }
  }
}
