
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  h1 {
    width: vw(250);
    padding: vw(35) 0 vw(30) vw(30);
    a {
      font-size: 0;
    }
  }
  .menuIcon {
    position: absolute;
    top: vw(30);
    right: vw(28);
    .menu_trigger {
      display: inline-block;
      transition: all 0.4s;
      position: relative;
      width: vw(60);
      height: vw(40);
      &.active {
        span {
          &:nth-of-type(1) {
            transform: translateY(vw(16)) rotate(-315deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(vw(-20)) rotate(315deg);
          }
        }
      }
      span {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #24c6ef;
        border-radius: vw(8);
        height: vw(4);
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: vw(18);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }
  }
  .nav {
    display: none;
    height: 100vh;
    padding: vw(60) 0;
    overflow-y: scroll;
    ul {
      padding: 0 vw(180);
      li {
        margin-bottom: vw(50);
        a {
          font-size: rem2(28);
          line-height: vw(40);
          color: #000;
          position: relative;
          padding-left: vw(50);
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: vw(6);
             width: vw(15);
             height: vw(14);
             border-top: 1px solid #000;
             border-right: 1px solid #000;
             -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
          }
        }
      }
    }
    .case {
      margin-top: vw(50);
      display: flex;
      a {
        display: block;
        width: vw(300);
        height: vw(85);
        color: #fff;
        line-height: vw(85);
        font-size: rem2(28);
        text-align: center;
        margin-top: 0;
        &:before {
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          left: vw(50);
        }
        &.men {
          background: #24c6ef;

        }
        &.women {
          background: #ff6490;
        }
      }
    }
  }
}
