@charset "utf-8";
.container {
  min-width: 320px;
}
.mv {
  position: relative;
  width: 100%;
  overflow: hidden;
  .main_ttl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // padding: 0 vw(70);
    h2 {
      color: #fff;
      font-size: rem2(34);
      line-height: vw(46);
      position: relative;
      text-align: center;
      &:after {
        content:"";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}
.ttl {
  font-size: rem2(34);
  color: #000;
  line-height: vw(42);
  padding-bottom: vw(20);
  border-bottom: 1px solid #000;
  margin-bottom: vw(60) !important;
  text-align: left;
  span {
    color:#24c6ef;
    margin-left: vw(30);
    font-size: rem2(30);
    font-family: "Ubuntu";
  }
}
h3 {
  font-size: rem2(38);
  text-align: center;
  color: #000;
  line-height: vw(26);
  margin-bottom: vw(70);
}
p {
  color: #000;
  font-size: rem2(30);
  line-height: vw(48);
}
a {
  text-decoration: none;
}
.recruit {
  padding: vw(100) 0 0;
  ul {
    li {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: vw(80);
      }
      .txt_detail {
        background: #f1f1f1;
        padding: vw(30) vw(40) vw(30);
        position: relative;
        margin-top: vw(-180);
        h5 {
          font-size: rem2(32);
          border-bottom: 1px solid #000;
          line-height: vw(44);
          text-align: center;
          padding-bottom: vw(20);
          margin-bottom: vw(25);
        }
        p {
          &:nth-of-type(1) {
            font-size: rem2(32);
            font-weight: bold;
            line-height: vw(44);
            text-align: center;
            margin-bottom: vw(20);
          }
          &:nth-of-type(2) {
            font-size: rem2(30);
            line-height: vw(42);
          }
        }
        .btn_detail {
          .btn {
            background: #10aad1;
            color: #fff;
            &:before {
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}
.btn {
  width: vw(400);
  height: vw(80);
  font-size: rem2(30);
  line-height: vw(80);
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: vw(40) auto 0;
  &:before {
    content: "";
    position: absolute;
    right: vw(32);
    top: vw(30);
     width: vw(16);
     height: vw(16);
     border-top: 1px solid #24c6ef;
     border-right: 1px solid #24c6ef;
     transform: rotate(45deg);
  }
}
.more {
  border: 1px solid #10aad1;
  color: #000;
  margin: 0 auto;
  margin-top: vw(60);
  &:before {
    top: vw(29);
  }
}
.recruit_btn {
  width: 100%;
  height: vw(120);
  background: #24c6ef;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: vw(60) auto 0;
  .tel {
    font-size: rem2(44);
    line-height: vw(120);
    padding-left: vw(30);
    color: #fff;
    font-size: "Roboto";
  }
  .mail {
    margin: 0 vw(20) 0 0;
    width: vw(300);
    &:after {
      top: vw(40);
    }
  }
}
.mail {
  margin: vw(40) vw(35) 0 0;
  background: #fff;
  line-height: vw(60);
  font-size: rem2(28);
  height: vw(60);
  font-weight: bold;
  padding-left: vw(30);
  color: #000;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    width: vw(25);
    height: vw(32);
    top: 50%;
    transform: translateY(-50%);
    left: vw(30);
    background: url('../images/mail.png')no-repeat;
    background-size: contain;
  }
}
main {
  position: relative;
  padding-top: 71px;
}
.loadingAnim_line{
    &:before{
        font-family: "Ubuntu";
        margin-right: vw(25.2);
        font-size: rem2(60);
        font-weight: bold;
        font-style: normal;
        line-height: 1;
        display: block;
        content: 'Alice Group';
        animation: loadingAnim_text 1.5s ease .15s infinite alternate both;
        // letter-spacing: .5em;
        color: #fff;
        will-change: opacity;
    }
  }
