.mv .main_ttl h2 {
  position: relative;
  padding-left: 80px;
}

.mv .main_ttl h2:after {
  content: "";
  position: absolute;
  background: url("../images/company_icon.png");
  background-size: contain;
  width: 45px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.company {
  padding: 50px 0;
}

.company .block {
  margin: 70px 0;
}

.company .block h3 {
  text-align: center;
  font-size: rem(20);
  line-height: rem(26);
  margin-bottom: 30px;
}

.company .block h3 span {
  color: #24c6ef;
  font-size: rem(15);
  line-height: rem(24);
  display: block;
}

.company .block_txt {
  background: #f3f3f3;
  padding: 60px 0 80px;
  margin-top: -4px;
}

.company .block_txt h4 {
  background: #fff;
  width: 603px;
  margin: -111px auto 60px;
  text-align: center;
  font-size: rem(18);
  line-height: rem(32);
  padding: 33px 0;
  position: relative;
  z-index: 3;
}

.company .block_txt p {
  margin: 0 90px 0;
  font-size: rem(16);
  line-height: rem(28);
}

.company .block dl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 37px;
  padding: 0 90px;
}

.company .block dl dt {
  background: #fff;
  width: 150px;
  padding: 25px 0;
  font-size: rem(18);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.company .block dl dd {
  font-size: rem(16);
  line-height: rem(26);
  width: calc(100% - 130px);
  padding-left: 60px;
  border-bottom: 1px dotted #000;
  height: 77px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
