.mv .main_ttl h2 {
  position: relative;
  padding-left: 80px;
}

.mv .main_ttl h2:after {
  content: "";
  position: absolute;
  background: url("../images/company_icon.png");
  background-size: contain;
  width: 45px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.recruit ul li:not(:last-child) {
  margin-bottom: 57px;
}
