@charset "utf-8";
.company {
  padding-bottom: 100px;
  .mv {
    .main_ttl {
      h2 {
        padding-left: 80px;
        &:after {
          background: url('../images/company_icon.png');
          background-size: contain;
          width: 45px;
          height: 50px;
        }
      }
    }
  }
  .block {
    margin: 70px 0;
    h3 {
      text-align: center;
      font-size: rem(25);
      line-height: rem(30);
      margin-bottom: 40px;
      span {
        color:#24c6ef;
        margin-top: 5px;
        font-size: rem(15);
        line-height: rem(24);
        display: block;
      }
    }
    &_txt {
      background: #f3f3f3;
      padding: 60px 0 80px;
      margin-top: -4px;
      h4 {
        background: #fff;
        width: 603px;
        margin: -111px auto 60px;
        text-align: center;
        font-size: rem(18);
        line-height: rem(32);
        padding: 33px 0;
        position: relative;
        z-index: 3;
      }

      p {
        margin: 0 90px 0;
        font-size: rem(16);
        line-height: rem(30)
      }
    }
  }
  .point_txt {
    counter-reset: li;
    ul {
      padding: 60px 0 0;
      width: 400px;
      margin: 0 auto;
      li {
        counter-increment: li;
        font-size: rem(20);
        line-height: rem(26);
        position: relative;
        margin: 0 auto;
        padding-left: 45px;
        &:after {
          position: absolute;
          content: "";
          border: 2px solid #10aad1;
          border-radius: 100%;
          width: 28px;
          height: 28px;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:before {
          content: counter(li);
          font-size: rem(20);
          font-weight: normal;
          line-height: 1;
          color: #10aad1;
          font-weight: 400;
          left: 11px;
          bottom: 3px;
          position: absolute;
        }
        &:not(:last-child) {
          margin-bottom: 37px;
          // border-bottom: 1px dotted #000;
        }
      }
    }
  }
}
