@charset "utf-8";
.company {
  padding-bottom: 100px;
  .mv {
    .main_ttl {
      h2 {
        padding-left: 80px;
        &:after {
          background: url('../images/company_icon.png');
          background-size: contain;
          width: 45px;
          height: 50px;
        }
      }
    }
  }
  .block {
    margin: 70px 0;
    h3 {
      text-align: center;
      font-size: rem(25);
      line-height: rem(30);
      margin-bottom: 40px;
      span {
        color:#24c6ef;
        margin-top: 5px;
        font-size: rem(15);
        line-height: rem(24);
        display: block;
      }
    }
    &_txt {
      background: #f3f3f3;
      padding: 60px 0 80px;
      margin-top: -4px;
      h4 {
        background: #fff;
        width: 603px;
        margin: -111px auto 60px;
        text-align: center;
        font-size: rem(18);
        line-height: rem(32);
        padding: 33px 0;
        position: relative;
        z-index: 3;
      }
      p {
        margin: 0 90px 0;
        font-size: rem(16);
        line-height: rem(30)
      }
    }
    dl {
      display: flex;
      align-items: center;
      margin-bottom: 37px;
      padding: 0 90px;
      &:last-child {
        dt {
          padding: 33px 0;
        }
        dd {
          padding-top: 17px;
          padding-bottom: 23px;
        }
      }
      dt {
        background: #fff;
        width: 150px;
        padding: 25px 0;
        font-size: rem(18);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      dd {
        font-size: rem(16);
        line-height: rem(26);
        width: calc(100% - 130px);
        padding-left: 60px;
        border-bottom: 1px dotted #000;
        min-height: 77px;
        display: flex;
        align-items: center;
      }
    }
  }
}
