@charset "utf-8";
.company {
  padding: 0 vw(20);
  .mv {
    .main_ttl {
      transform: translateX(0);
      left: vw(108);
      h2 {
        line-height: vw(52);
        text-align: left;
        &:after {
          background: url('../images/company_icon.png')no-repeat;
          background-size: contain;
          width: vw(60);
          height: vw(48);
          top: vw(36);
          left: vw(-72);
          transform: translateY(0);
        }
      }
    }
  }
  .block {
    margin: vw(100) 0;
    h3 {
      text-align: center;
      font-size: rem2(40);
      line-height: vw(52);
      margin-bottom: vw(30);
      span {
        color:#24c6ef;
        font-size: rem2(30);
        line-height: vw(42);
        display: block;
      }
    }
    &_txt {
      background: #f3f3f3;
      padding: vw(50) 0 vw(40);
      margin-top: vw(-10);
      h4 {
        background: #fff;
        width: vw(603);
        margin: vw(-111) auto vw(60);
        text-align: center;
        font-size: rem2(32);
        line-height: vw(44);
        padding: vw(25) vw(20);
        position: relative;
        z-index: 3;
      }
      p {
        font-size: rem2(30);
        line-height: vw(42);
        padding: 0 vw(40);
      }
    }
    dl {
      display: flex;
      margin-bottom: vw(60);
      padding: 0 vw(20);
      min-height: vw(140);
      dt {
        background: #fff;
        width: vw(200);
        font-size: rem2(30);
        text-align: center;
        line-height: vw(42);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: vw(40) 0;
      }
      dd {
        font-size: rem(16);
        line-height: rem(26);
        width: vw(568);
        border-bottom: 1px dotted #000;
        padding-left: vw(30);
        padding: vw(40) 0;
      }
    }
  }
}
