@charset "utf-8";
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.ttl_top {
  top: vw(495) !important;
  transform: translateY(0);
  .fadeInUp {
    opacity: 0;
    animation-delay: 4s;
    animation: fadeInUp 3s ease-in-out 0s forwards;
  }
}
.toppage {
  padding: 0 vw(20) vw(100);
  .case {
    margin-top: vw(50);
    a {
      display: block;
      width: vw(450);
      height: vw(100);
      color: #fff;
      line-height: vw(100);
      font-size: rem2(28);
      text-align: center;
      margin: 0 auto;
      &:before {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        top: vw(42);
      }
      &.men {
        background: #24c6ef;
        padding-left: vw(28);
        margin-bottom: vw(30);
        &:before {
          left: vw(60);
        }
      }
      &.women {
        padding-left: vw(28);
        background: #ff6490;
        &:before {
          left: vw(90);
        }
      }
    }
  }
  .philosophy {
    padding: vw(100) 0 0;
    h3 {
      font-size: rem2(40);
      line-height: vw(54);
      text-align: center;
      border-bottom: 1px solid #000;
      padding-bottom: vw(30);
    }
    p {
      text-align: center;
      font-size: rem2(40);
      line-height: vw(54);
      font-weight: bold;
      margin-bottom: vw(50);
      span {
        color: #24c6ef;
        font-family: "Ubuntu";
        font-size: rem2(40);
        line-height: vw(54);
      }
    }
    &_point {
      margin-bottom: vw(70);
    }
    &_des {
      padding: 0 vw(30);
      dl {
        margin-bottom: vw(30);
        dt {
          text-align: center;
          font-size: rem2(34);
          line-height: vw(46);
          margin-bottom: vw(20);
          font-weight: bold;
        }
        dd {
          font-size: rem2(30);
          line-height: vw(43);
        }

      }
    }
    ul {
      li {
        width: 100%;
        margin: 0 auto;
        a{
          display: block;
          position: relative;
          margin-bottom: vw(30);
          h4 {
            position: absolute;
            font-size: rem2(40);
            line-height: vw(54);
            color: #cecece;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
            font-family: "Ubuntu";
          }
        }
        p {
          font-size: rem2(30);
          line-height: vw(42);
          text-align: center;
        }
      }
    }
  }
  .working {
    padding: vw(100) 0;
    h3 {
      margin-bottom: vw(30);
    }
    &_staff {
      background: #f1f1f1;
      padding: vw(50) vw(40);
      margin-top: vw(-40);
      &_name {
        text-align: center;
        h4 {
          font-size: rem2(40);
          line-height: vw(52);
          margin-bottom: vw(30);
        }
        p {
          margin-bottom: vw(10);
          &:nth-of-type(1) {
            font-size: rem2(30);
            font-weight: bold;
            line-height: vw(42);
          }
          &:nth-of-type(2) {
            font-size: rem2(40);
            line-height: vw(52);
          }
          &:nth-of-type(3), &:nth-of-type(4) {
            font-size: rem2(30);
            line-height: vw(42);
          }
        }
      }
      &_des {
        padding: vw(30) 0;
        h5 {
          font-size: rem2(30);
          font-weight: bold;
          line-height: vw(42);
          margin-bottom: vw(20);
        }
        p {
          font-size: rem2(30);
          line-height: vw(42);

        }
      }
    }
  }
  .qa {
    &_inner {
      background: #f1f1f1;
      padding: vw(50) 0;
      .row {
        padding: 0 vw(40);
      }
      dl {
        &:not(last-child) {
          border-bottom: 1px solid #fff;
          padding-bottom: vw(30);
          margin-bottom: vw(30);
        }
        dt, dd {
          font-size: rem2(30);
          line-height: vw(42);
          font-weight: bold;
        }
        dt {
          color: #000;
          margin-bottom: vw(15);
        }
        dd {
          color: #10aad1;
        }
      }
    }
    .btn {
      background: #fff;
    }
  }
  .schedule {
    padding: vw(100) 0 0;
    &_bg {
      background: #f1f1f1;
      padding: vw(50) vw(20);
    }
    &_top {
      display: flex;
      figure {
        background: #fff;
        width: vw(180);
        padding: vw(25) 0 vw(50);
        img {
          width: vw(70);
          margin: 0 auto;
          display: block;
        }
      }
      p {
        width: vw(587);
        padding: vw(45) 0 vw(45) vw(40);
        font-size: rem2(28);
        line-height: vw(40);
        font-weight: bold;
      }
    }
    &_root {
      dl {
        display: flex;
        // &:after {
        //   content: "";
        //   display: block;
        //   clear: both;
        // }
        dt {
          background: #fff;
          width: vw(180);
          font-size: rem(20);
          line-height: rem(30);
          font-weight: bold;
          font-family: "Ubuntu";
          text-align: center;
        }
        dd {
          width: vw(587);
          font-size: rem2(28);
          line-height: vw(40);
          padding: 0 0 vw(40) vw(35);
          p {
            &:nth-of-type(1) {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .shop {
    padding-top: vw(100);
    ul {
      li {
        width: vw(640);
        margin: vw(30) auto vw(50);
        p {
          margin-bottom: vw(10);
          font-size: rem2(28);
          line-height: vw(40);
        }
        iframe {
          width: 100%;
          height: vw(350);
        }
      }
    }
  }
  .age_check {
    figure {
      width: vw(670);
      margin: 0 auto;
    }
    a {
      background-color: #000;
      width: vw(320);
      height: vw(98);
      color: #fff;
      line-height: vw(98);
      font-size: rem2(30);
      display: inline-block;
      text-align: center;
      margin: vw(30) vw(20) 0;
      &:nth-of-type(1) {
        background-color: #fb2d28;
      }
      &:nth-of-type(2) {
        background-color: #8a8a8a;
      }
    }
  }
}
