html {
  font-size: 10px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  /*-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;*/
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  /*pointer-events: none;*/
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
* {
  box-sizing: border-box;
}

::after ::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
h1,
h2,
h3,
h4,
h5,
h6
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/* HTML5 display definitions
   ========================================================================== */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

body,
td,
th,
input,
textarea {
  font-family: "YuGothic";
}

img {
  width: 100%;
}

@media screen and (min-width: 768px), print {
  .toppage {
    padding: 0 0 60px;
  }
  .toppage p {
    color: #000;
  }
  .toppage a {
    text-decoration: none;
    transition: .3s ease-out;
  }
  .toppage a:hover {
    opacity: 0.8;
  }
  .toppage .philosophy {
    padding: 60px 0;
  }
  .toppage .philosophy h3 {
    border: 0;
  }
  .toppage .philosophy_point {
    background: #f3f3f3;
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .toppage .philosophy_ttl {
    width: 50%;
    position: relative;
  }
  .toppage .philosophy_ttl:after {
    content: "";
    margin: auto;
    position: absolute;
    width: 520px;
    height: 1px;
    background: #000;
    top: 108px;
    left: 0;
    right: 0;
  }
  .toppage .philosophy_ttl .white_bg {
    width: 358px;
    background: #fff;
    padding: 70px 30px;
    margin: 0 auto;
    text-align: center;
  }
  .toppage .philosophy_ttl .white_bg h3 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  .toppage .philosophy_ttl .white_bg p {
    font-size: 5rem;
    line-height: 6rem;
  }
  .toppage .philosophy_ttl .white_bg p span {
    font-size: 7.5rem;
    line-height: 8.2rem;
    color: #10aad1;
    font-family: "Ubuntu";
  }
  .toppage .philosophy_des {
    width: 50%;
  }
  .toppage .philosophy_des dl {
    margin-bottom: 20px;
  }
  .toppage .philosophy_des dl dt {
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .toppage .philosophy_des dl dd {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .toppage .philosophy ul {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .toppage .philosophy ul li {
    width: 427px;
  }
  .toppage .philosophy ul li:not(:last-child) {
    margin-right: 50px;
  }
  .toppage .philosophy ul li a {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  .toppage .philosophy ul li a h4 {
    position: absolute;
    font-size: 3rem;
    line-height: 3.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: "Ubuntu";
  }
  .toppage .philosophy ul li p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
  }
  .toppage .working {
    padding: 100px 0;
  }
  .toppage .working h3 {
    margin-bottom: 60px;
  }
  .toppage .working_staff:after {
    content: "";
    display: block;
    clear: both;
  }
  .toppage .working_staff_name {
    background: #f1f1f1;
    padding: 80px 0;
    width: 510px;
    float: left;
    position: relative;
    z-index: 1;
    margin: -45px 30px 0;
    text-align: center;
  }
  .toppage .working_staff_name h4 {
    font-size: 5.7rem;
    line-height: 7rem;
    margin-bottom: 25px;
  }
  .toppage .working_staff_name p {
    margin-bottom: 30px;
  }
  .toppage .working_staff_name p:nth-of-type(1) {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.2rem;
  }
  .toppage .working_staff_name p:nth-of-type(2) {
    font-size: 6rem;
    line-height: 7.4rem;
  }
  .toppage .working_staff_name p:nth-of-type(3), .toppage .working_staff_name p:nth-of-type(4) {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
  .toppage .working_staff_des {
    width: 50%;
    float: right;
    padding: 80px 50px 0 50px;
  }
  .toppage .working_staff_des h5 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.2rem;
    margin-bottom: 70px;
  }
  .toppage .working_staff_des p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .toppage .qa_inner {
    background: #f1f1f1;
    padding: 100px 0;
  }
  .toppage .qa_inner .row {
    padding: 0 50px;
  }
  .toppage .qa_inner dl:not(last-child) {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .toppage .qa_inner dl dt, .toppage .qa_inner dl dd {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .toppage .qa_inner dl dt {
    color: #000;
    margin-bottom: 25px;
  }
  .toppage .qa_inner dl dd {
    color: #f05f5f;
  }
  .toppage .qa .btn {
    background: #fff;
  }
  .toppage .schedule {
    padding: 100px 0 0;
  }
  .toppage .schedule_bg {
    background: #f1f1f1;
    padding: 100px 0;
  }
  .toppage .schedule_top {
    display: -ms-flexbox;
    display: flex;
  }
  .toppage .schedule_top figure {
    background: #fff;
    width: 200px;
    padding: 60px 0 20px;
  }
  .toppage .schedule_top figure img {
    width: 50px;
    margin: 0 auto;
    display: block;
  }
  .toppage .schedule_top p {
    width: calc(100% - 200px);
    padding: 73px 0 0 85px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
  }
  .toppage .schedule_root {
    padding-top: 100px;
  }
  .toppage .schedule_root dl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .toppage .schedule_root dl dt {
    background: #fff;
    padding: 30px 0;
    width: 200px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    font-family: "Ubuntu";
    text-align: center;
  }
  .toppage .schedule_root dl dd {
    width: calc(100% - 200px);
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-left: 85px;
  }
  .toppage .shop {
    padding: 100px 0;
  }
  .toppage .shop ul {
    display: -ms-flexbox;
    display: flex;
  }
  .toppage .shop ul li {
    width: calc(100% / 2);
    padding: 0 50px;
  }
  .company {
    padding: 20px 0;
  }
  .company .mv .main_ttl h2 {
    padding-left: 80px;
  }
  .company .mv .main_ttl h2:after {
    background: url("../images/company_icon.png");
    background-size: contain;
    width: 45px;
    height: 50px;
  }
  .company .block {
    margin: 70px 0;
  }
  .company .block h3 {
    text-align: center;
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 30px;
  }
  .company .block h3 span {
    color: #24c6ef;
    font-size: 1.5rem;
    line-height: 2.4rem;
    display: block;
  }
  .company .block_txt {
    background: #f3f3f3;
    padding: 60px 0 80px;
    margin-top: -4px;
  }
  .company .block_txt h4 {
    background: #fff;
    width: 603px;
    margin: -111px auto 60px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.2rem;
    padding: 33px 0;
    position: relative;
    z-index: 3;
  }
  .company .block_txt p {
    margin: 0 90px 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .company .block dl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 37px;
    padding: 0 90px;
  }
  .company .block dl dt {
    background: #fff;
    width: 150px;
    padding: 25px 0;
    font-size: 1.8rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .company .block dl dd {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: calc(100% - 130px);
    padding-left: 60px;
    border-bottom: 1px dotted #000;
    height: 77px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .sc_recruit .mv .main_ttl h2 {
    position: relative;
    padding-left: 60px;
  }
  .sc_recruit .mv .main_ttl h2:after {
    content: "";
    position: absolute;
    background: url("../images/recruit_icon.png");
    background-size: contain;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .sc_recruit_list li:not(:last-child) {
    margin-bottom: 57px;
  }
  .sc_recruit_detail {
    padding: 80px 0;
  }
  .sc_recruit_detail ul {
    margin-bottom: 40px;
  }
  .sc_recruit_detail ul li {
    margin-right: 25px;
  }
  .sc_recruit_detail ul li a {
    font-size: 1.6rem;
    line-height: 2.6rem;
    position: relative;
    color: #000;
    padding-right: 20px;
  }
  .sc_recruit_detail ul li a:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    right: 0;
    top: 3px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
  }
  .sc_recruit_detail h4 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .sc_recruit_detail h4 span {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-right: 10px;
  }
  .sc_recruit_detail dl {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 0 30px 25px;
    margin-bottom: 25px;
  }
  .sc_recruit_detail dl dt, .sc_recruit_detail dl dd {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  .sc_recruit_detail dl dt {
    width: 130px;
  }
  .sc_recruit_detail form {
    padding: 0 66px 93px;
    position: relative;
  }
  .sc_recruit_detail form button.btn {
    background: #30bbdf;
    color: #fff;
    width: 300px;
    height: 55px;
    line-height: 5.5rem;
    margin: 50px auto 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
  }
  .sc_recruit_detail form button.btn:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    top: 22px;
  }
  .sc_recruit_detail .input_form .row_form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 40px;
  }
  .sc_recruit_detail .input_form .row_form:nth-of-type(3) {
    -ms-flex-align: initial;
        align-items: initial;
  }
  .sc_recruit_detail .input_form .row_form label {
    width: 230px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .sc_recruit_detail .input_form .row_form label em {
    color: #f60600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-style: normal;
  }
  .sc_recruit_detail .input_form .row_form .wrap {
    width: calc(100% - 230px);
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li {
    width: 150px;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio {
    position: relative;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio input[type="radio"] {
    opacity: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio input[type="radio"]:checked + .radio-label::after {
    opacity: 1;
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    display: inline-block;
    font-size: 11px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio .radio-label {
    padding-left: 20px;
    cursor: pointer;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio .radio-label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: inline-block;
    border-radius: 50px;
    background: #fff;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(1) input[type="radio"]:checked + .radio-label::after {
    background-color: #10aad1;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(1) .radio-label:before {
    border: 1px solid #10aad1;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(2) input[type="radio"]:checked + .radio-label::after {
    background-color: #ff6490;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(2) .radio-label:before {
    border: 1px solid #ff6490;
  }
  .sc_recruit_detail .input_form .row_form .wrap input[type="text"] {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 14px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 48px;
    color: #000;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select {
    position: relative;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select:after {
    content: "";
    display: block;
    width: 43px;
    height: 48px;
    background: #10aad1 url(../images/arrow_down.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 8px 8px 0;
    z-index: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select select {
    width: 100%;
    height: 48px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0 43px 0 15px;
    font-size: 1.6rem;
    line-height: 5rem;
    color: #8c8c8c;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    z-index: 1;
    background: transparent;
  }
  .sc_recruit_detail textarea {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 33px;
    color: #000;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    resize: vertical;
    display: block;
    margin: 0;
    height: 200px;
  }
  .sc_qa .main_ttl h2 {
    position: relative;
    padding-left: 60px;
  }
  .sc_qa .main_ttl h2:after {
    content: "";
    position: absolute;
    background: url("../images/qa_icon.png");
    background-size: contain;
    width: 45px;
    height: 45px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .sc_qa .fag {
    padding: 80px 0;
  }
  .sc_qa dl {
    margin-bottom: 30px;
  }
  .sc_qa dl dt, .sc_qa dl dd {
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding: 10px 0;
    text-align: justify;
  }
  .sc_qa dl dt {
    position: relative;
  }
  .sc_qa dl dt:before {
    content: "";
    position: absolute;
    background: #000;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .sc_qa dl dt:after {
    content: "";
    background: url("../images/close.png") no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    background-size: contain;
  }
  .sc_qa dl dt.active:after {
    background: url("../images/open.png") no-repeat;
    background-size: contain;
    top: 29px;
  }
  .sc_qa dl dd {
    color: #f06464;
    display: none;
  }
  .header {
    position: relative;
  }
  .header .case {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .header .case a {
    width: 180px;
    height: 40px;
    color: #fff;
    line-height: 4rem;
  }
  .header .case a:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    left: 33px;
  }
  .header .case a.men {
    background: #24c6ef;
  }
  .header .case a.women {
    background: #ff6490;
  }
  .header .logo {
    padding: 96px 44px 33px 45px;
  }
  .header .logo a {
    font-size: 0;
    width: 180px;
    display: block;
  }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: calc(100% - 180px);
  }
  .nav a {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: #000;
  }
  .nav ul {
    padding-top: 107px;
  }
  .nav ul li {
    position: relative;
  }
  .nav ul li:not(:last-child) {
    margin-right: 40px;
  }
  .nav ul li a {
    padding-left: 25px;
    position: relative;
  }
  .nav ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
  }
  .nav ul li a:hover:before {
    left: 2px;
  }
  .nav .header_btn {
    padding-top: 20px;
    padding-right: 45px;
  }
  .nav .header_btn a:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .nav .header_btn a:hover {
    opacity: 0.6;
  }
  .nav .header_btn .tel {
    font-size: 2.8rem;
    font-weight: bold;
    padding-left: 30px;
    line-height: 3.6rem;
    margin-bottom: 20px;
  }
  .nav .header_btn .tel:after {
    width: 18px;
    height: 27px;
    background: url("../images/phone_icon.png") no-repeat;
    background-size: contain;
  }
  .nav .header_btn .mail {
    background: #ededed;
    line-height: 5.3rem;
    height: 53px;
  }
  .nav .header_btn .mail:after {
    left: 20px;
  }
  footer {
    background: #cecece;
    padding: 100px 0;
  }
  footer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 189px;
  }
  footer ul li {
    margin: 0 20px 25px;
  }
  footer ul li a {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    color: #000;
    transition: all 0.3s linear 0s;
    padding-left: 25px;
    position: relative;
  }
  footer ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
  }
  footer ul li a:hover {
    opacity: 0.8;
  }
  footer .logo_foo {
    width: 215px;
    margin: 30px auto 2px;
  }
  footer small {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    display: block;
  }
  .container {
    min-width: 1280px;
  }
  a {
    text-decoration: none;
    transition: all 0.3s ease-out;
  }
  a:hover {
    opacity: 0.6;
  }
  .row {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  .mv {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .mv .main_ttl {
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .mv .main_ttl h2 {
    color: #fff;
    font-size: 2.8rem;
    line-height: 4.2rem;
    position: relative;
  }
  .mv .main_ttl h2:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .ttl {
    font-size: 2rem;
    color: #000;
    line-height: 3rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 60px !important;
  }
  .ttl span {
    color: #24c6ef;
    margin-left: 12px;
    font-family: "Ubuntu";
  }
  .flex {
    display: -ms-flexbox;
    display: flex;
  }
  .btn {
    width: 208px;
    height: 45px;
    font-size: 1.6rem;
    line-height: 4.5rem;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  .btn:hover {
    opacity: 0.6;
  }
  .btn:hover:before {
    right: 30px;
  }
  .btn:before {
    content: "";
    position: absolute;
    right: 33px;
    top: 18px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #24c6ef;
    border-right: 1px solid #24c6ef;
    transform: rotate(45deg);
  }
  .more {
    border: 1px solid #10aad1;
    color: #000;
    margin: 0 auto;
    margin-top: 60px;
  }
  .recruit {
    padding: 80px 0 0;
  }
  .recruit ul {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recruit ul li {
    width: 610px;
  }
  .recruit ul li figure {
    width: 300px;
  }
  .recruit ul li .txt_detail {
    background: #f1f1f1;
    width: calc(100% - 200px);
    padding: 30px 0 0;
    position: relative;
  }
  .recruit ul li .txt_detail h5 {
    font-size: 1.8rem;
    border-bottom: 1px solid #000;
    line-height: 2.4rem;
    text-align: center;
    padding-bottom: 10px;
    margin: 0 20px 10px;
  }
  .recruit ul li .txt_detail p:nth-of-type(1) {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    text-align: center;
    margin-bottom: 20px;
  }
  .recruit ul li .txt_detail p:nth-of-type(2) {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 0 20px;
  }
  .recruit ul li .txt_detail .btn_detail {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .recruit ul li .txt_detail .btn_detail .btn {
    background: #10aad1;
    color: #fff;
  }
  .recruit ul li .txt_detail .btn_detail .btn:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .recruit_btn {
    width: 600px;
    height: 80px;
    background: #24c6ef;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 60px auto 0;
  }
  .recruit_btn .tel {
    font-size: 4rem;
    line-height: 8rem;
    padding-left: 30px;
    color: #fff;
    font-family: "Ubuntu";
  }
  .recruit_btn .mail {
    margin: 20px 35px 0 0;
    width: 200px;
  }
  .mail {
    background: #fff;
    line-height: 4rem;
    font-size: 1.6rem;
    height: 40px;
    font-weight: bold;
    padding-left: 30px;
    color: #000;
    position: relative;
    text-align: center;
  }
  .mail:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background: url("../images/mail.png") no-repeat;
    background-size: contain;
  }
  .show_sp {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .ttl_top {
    top: 58.59375vw !important;
  }
  .toppage {
    padding: 0 2.60417vw;
  }
  .toppage .philosophy {
    padding: 13.02083vw 0 0;
  }
  .toppage .philosophy h3 {
    font-size: 5.20833vw;
    line-height: 7.03125vw;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 3.90625vw;
  }
  .toppage .philosophy p {
    text-align: center;
    font-size: 5.20833vw;
    line-height: 7.03125vw;
    font-weight: bold;
    margin-bottom: 6.51042vw;
  }
  .toppage .philosophy p span {
    color: #24c6ef;
    font-family: "Ubuntu";
    font-size: 5.20833vw;
    line-height: 7.03125vw;
  }
  .toppage .philosophy_point {
    margin-bottom: 9.11458vw;
  }
  .toppage .philosophy_des {
    padding: 0 3.90625vw;
  }
  .toppage .philosophy_des dl {
    margin-bottom: 3.90625vw;
  }
  .toppage .philosophy_des dl dt {
    text-align: center;
    font-size: 4.42708vw;
    line-height: 5.98958vw;
    margin-bottom: 2.60417vw;
  }
  .toppage .philosophy_des dl dd {
    font-size: 3.90625vw;
    line-height: 5.59896vw;
  }
  .toppage .philosophy ul li {
    width: 100%;
    margin: 0 auto;
  }
  .toppage .philosophy ul li a {
    display: block;
    position: relative;
    margin-bottom: 3.90625vw;
  }
  .toppage .philosophy ul li a h4 {
    position: absolute;
    font-size: 5.20833vw;
    line-height: 5.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: "Ubuntu";
  }
  .toppage .philosophy ul li p {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    text-align: center;
  }
  .toppage .working {
    padding: 13.02083vw 0;
  }
  .toppage .working h3 {
    margin-bottom: 3.90625vw;
  }
  .toppage .working_staff {
    background: #f1f1f1;
    padding: 6.51042vw 5.20833vw;
    margin-top: -5.20833vw;
  }
  .toppage .working_staff_name {
    text-align: center;
  }
  .toppage .working_staff_name h4 {
    font-size: 5.20833vw;
    line-height: 6.77083vw;
    margin-bottom: 3.90625vw;
  }
  .toppage .working_staff_name p {
    margin-bottom: 1.30208vw;
  }
  .toppage .working_staff_name p:nth-of-type(1) {
    font-size: 3.90625vw;
    font-weight: bold;
    line-height: 5.46875vw;
  }
  .toppage .working_staff_name p:nth-of-type(2) {
    font-size: 5.20833vw;
    line-height: 6.77083vw;
  }
  .toppage .working_staff_name p:nth-of-type(3), .toppage .working_staff_name p:nth-of-type(4) {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .toppage .working_staff_des {
    padding: 3.90625vw 0;
  }
  .toppage .working_staff_des h5 {
    font-size: 3.90625vw;
    font-weight: bold;
    line-height: 5.46875vw;
    margin-bottom: 2.60417vw;
  }
  .toppage .working_staff_des p {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .toppage .qa_inner {
    background: #f1f1f1;
    padding: 6.51042vw 0;
  }
  .toppage .qa_inner .row {
    padding: 0 5.20833vw;
  }
  .toppage .qa_inner dl:not(last-child) {
    border-bottom: 1px solid #fff;
    padding-bottom: 3.90625vw;
    margin-bottom: 3.90625vw;
  }
  .toppage .qa_inner dl dt, .toppage .qa_inner dl dd {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .toppage .qa_inner dl dt {
    color: #000;
    margin-bottom: 1.95312vw;
  }
  .toppage .qa_inner dl dd {
    color: #f05f5f;
  }
  .toppage .qa .btn {
    background: #fff;
  }
  .toppage .schedule {
    padding: 13.02083vw 0 0;
  }
  .toppage .schedule_bg {
    background: #f1f1f1;
    padding: 6.51042vw 2.60417vw;
  }
  .toppage .schedule_top {
    display: -ms-flexbox;
    display: flex;
  }
  .toppage .schedule_top figure {
    background: #fff;
    width: 23.4375vw;
    padding: 3.25521vw 0 6.51042vw;
  }
  .toppage .schedule_top figure img {
    width: 9.11458vw;
    margin: 0 auto;
    display: block;
  }
  .toppage .schedule_top p {
    width: 76.43229vw;
    padding: 5.85938vw 0 5.85938vw 5.20833vw;
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    font-weight: bold;
  }
  .toppage .schedule_root dl {
    display: -ms-flexbox;
    display: flex;
  }
  .toppage .schedule_root dl dt {
    background: #fff;
    width: 23.4375vw;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    font-family: "Ubuntu";
    text-align: center;
  }
  .toppage .schedule_root dl dd {
    width: 76.43229vw;
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    padding: 0 0 5.20833vw 4.55729vw;
  }
  .toppage .shop {
    padding-top: 13.02083vw;
  }
  .toppage .shop ul li {
    width: 72.91667vw;
    margin: 3.90625vw auto;
  }
  .company {
    padding: 0 2.60417vw;
  }
  .company .mv .main_ttl {
    padding: 0 2.60417vw;
  }
  .company .mv .main_ttl h2 {
    line-height: 6.77083vw;
  }
  .company .mv .main_ttl h2:after {
    background: url("../images/company_icon.png") no-repeat;
    background-size: contain;
    width: 7.8125vw;
    height: 6.25vw;
    top: 0;
    left: 10.41667vw;
    transform: translate(0);
  }
  .company .block {
    margin: 13.02083vw 0;
  }
  .company .block h3 {
    text-align: center;
    font-size: 5.20833vw;
    line-height: 6.77083vw;
    margin-bottom: 3.90625vw;
  }
  .company .block h3 span {
    color: #24c6ef;
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    display: block;
  }
  .company .block_txt {
    background: #f3f3f3;
    padding: 6.51042vw 0 5.20833vw;
    margin-top: -1.30208vw;
  }
  .company .block_txt h4 {
    background: #fff;
    width: 78.51562vw;
    margin: -14.45312vw auto 7.8125vw;
    text-align: center;
    font-size: 4.16667vw;
    line-height: 5.72917vw;
    padding: 3.25521vw 2.60417vw;
    position: relative;
    z-index: 3;
  }
  .company .block_txt p {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    padding: 0 5.20833vw;
  }
  .company .block dl {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 7.8125vw;
    padding: 0 2.60417vw;
    min-height: 18.22917vw;
  }
  .company .block dl dt {
    background: #fff;
    width: 26.04167vw;
    padding: 6.51042vw 0;
    font-size: 3.90625vw;
    text-align: center;
    line-height: 5.46875vw;
  }
  .company .block dl dd {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 73.95833vw;
    border-bottom: 1px dotted #000;
    padding-left: 3.90625vw;
  }
  .sc_qa .main_ttl {
    width: 62.5vw !important;
  }
  .sc_qa .main_ttl h2:after {
    background: url("../images/qa_icon.png") no-repeat;
    background-size: contain;
    width: 7.8125vw;
    height: 6.25vw;
  }
  .sc_qa .faq {
    padding: 13.02083vw 2.60417vw;
  }
  .sc_qa dl {
    margin-bottom: 7.8125vw;
  }
  .sc_qa dl dt, .sc_qa dl dd {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    padding: 2.60417vw 0 2.60417vw 0;
    text-align: justify;
  }
  .sc_qa dl dt {
    position: relative;
    padding-right: 9.11458vw;
  }
  .sc_qa dl dt:before {
    content: "";
    position: absolute;
    background: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .sc_qa dl dt:after {
    content: "";
    background: url("../images/close.png") no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 7.5px;
    transform: translateY(-50%);
    background-size: contain;
  }
  .sc_qa dl dt.active:after {
    background: url("../images/open.png") no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(0);
  }
  .sc_qa dl dd {
    color: #f06464;
    display: none;
  }
  .sc_recruit .mv .main_ttl {
    width: 32.55208vw;
  }
  .sc_recruit .mv .main_ttl h2 {
    position: relative;
    padding-left: 3.90625vw;
  }
  .sc_recruit .mv .main_ttl h2:after {
    content: "";
    position: absolute;
    background: url("../images/recruit_icon.png") no-repeat;
    background-size: contain;
    width: 5.85938vw;
    height: 5.85938vw;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .sc_recruit .recruit {
    padding: 13.02083vw 2.60417vw;
  }
  .sc_recruit_list li:not(:last-child) {
    margin-bottom: 4.81771vw;
  }
  .sc_recruit_detail {
    padding: 13.02083vw 2.60417vw;
  }
  .sc_recruit_detail ul {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3.90625vw;
  }
  .sc_recruit_detail ul li {
    margin-right: 3.64583vw;
  }
  .sc_recruit_detail ul li a {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    position: relative;
    color: #000;
    padding-right: 2.60417vw;
  }
  .sc_recruit_detail ul li a:after {
    content: "";
    position: absolute;
    width: 1.82292vw;
    height: 1.82292vw;
    right: 0;
    top: 0.78125vw;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
  }
  .sc_recruit_detail h4 {
    font-size: 4.42708vw;
    line-height: 6.25vw;
    margin-bottom: 5.20833vw;
  }
  .sc_recruit_detail h4 span {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    margin-right: 1.30208vw;
  }
  .sc_recruit_detail dl {
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
    padding: 0 2.60417vw 4.55729vw;
  }
  .sc_recruit_detail dl:last-of-type {
    border-bottom: 0;
  }
  .sc_recruit_detail dl dt, .sc_recruit_detail dl dd {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .sc_recruit_detail dl dt {
    width: 26.04167vw;
  }
  .sc_recruit_detail dl dd {
    width: 73.95833vw;
  }
  .sc_recruit_detail form {
    position: relative;
  }
  .sc_recruit_detail form button.btn {
    background: #30bbdf;
    color: #fff;
    width: 52.08333vw;
    height: 11.71875vw;
    line-height: 11.71875vw;
    margin: 6.51042vw auto 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
  }
  .sc_recruit_detail form button.btn:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .sc_recruit_detail .input_form {
    padding: 0 2.60417vw;
  }
  .sc_recruit_detail .input_form .row_form {
    margin-bottom: 5.20833vw;
  }
  .sc_recruit_detail .input_form .row_form label {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .sc_recruit_detail .input_form .row_form label em {
    color: #f60600;
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    font-style: normal;
  }
  .sc_recruit_detail .input_form .row_form .wrap {
    margin-top: 2.60417vw;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li {
    width: 33.33333vw;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio {
    position: relative;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio input[type="radio"] {
    opacity: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio input[type="radio"]:checked + .radio-label::after {
    opacity: 1;
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio .radio-label {
    padding-left: 4.55729vw;
    cursor: pointer;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li .radio .radio-label:before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    content: '';
    display: inline-block;
    border-radius: 100%;
    background: #fff;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(1) input[type="radio"]:checked + .radio-label::after {
    background-color: #10aad1;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(1) .radio-label:before {
    border: 1px solid #10aad1;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(2) input[type="radio"]:checked + .radio-label::after {
    background-color: #ff6490;
  }
  .sc_recruit_detail .input_form .row_form .wrap .block_radio li:nth-child(2) .radio-label:before {
    border: 1px solid #ff6490;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select {
    position: relative;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select:after {
    content: "";
    display: block;
    width: 7.8125vw;
    height: 10.15625vw;
    background: #10aad1 url(../images/arrow_down.png) no-repeat center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 8px 8px 0;
    z-index: 0;
  }
  .sc_recruit_detail .input_form .row_form .wrap.select select {
    width: 100%;
    height: 10.41667vw;
    border: 1px solid #000;
    border-radius: 2.08333vw;
    padding: 0 5.59896vw 0 1.95312vw;
    font-size: 3.90625vw;
    line-height: 10.41667vw;
    color: #8c8c8c;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    z-index: 1;
    background: transparent;
  }
  .sc_recruit_detail .input_form .row_form .wrap input[type="text"] {
    width: 100%;
    height: 10.41667vw;
    border: 1px solid #000;
    border-radius: 3.125vw;
    padding: 0 3.64583vw;
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    line-height: 10.41667vw;
    color: #000;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .sc_recruit_detail textarea {
    width: 100%;
    border: 1px solid #000;
    border-radius: 2.08333vw;
    padding: 0 3.64583vw;
    font-size: 3.90625vw;
    line-height: 5.46875vw;
    color: #000;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    resize: vertical;
    display: block;
    margin: 0;
    height: 39.0625vw;
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
  }
  .header h1 {
    width: 32.55208vw;
    padding: 4.55729vw 0 3.90625vw 3.90625vw;
  }
  .header h1 a {
    font-size: 0;
  }
  .header .menuIcon {
    position: absolute;
    top: 3.90625vw;
    right: 3.64583vw;
  }
  .header .menuIcon .menu_trigger {
    display: inline-block;
    transition: all 0.4s;
    position: relative;
    width: 7.8125vw;
    height: 5.20833vw;
  }
  .header .menuIcon .menu_trigger.active span:nth-of-type(1) {
    transform: translateY(2.08333vw) rotate(-315deg);
  }
  .header .menuIcon .menu_trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .menuIcon .menu_trigger.active span:nth-of-type(3) {
    transform: translateY(-2.60417vw) rotate(315deg);
  }
  .header .menuIcon .menu_trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #24c6ef;
    border-radius: 1.04167vw;
    height: 0.52083vw;
  }
  .header .menuIcon .menu_trigger span:nth-of-type(1) {
    top: 0;
  }
  .header .menuIcon .menu_trigger span:nth-of-type(2) {
    top: 2.34375vw;
  }
  .header .menuIcon .menu_trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .header .nav {
    display: none;
    height: 100vh;
    padding: 7.8125vw 0;
    overflow-y: scroll;
  }
  .header .nav ul {
    padding: 0 23.4375vw;
  }
  .header .nav ul li {
    margin-bottom: 6.51042vw;
  }
  .header .nav ul li a {
    font-size: 3.64583vw;
    line-height: 5.20833vw;
    color: #000;
    position: relative;
    padding-left: 6.51042vw;
  }
  .header .nav ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.78125vw;
    width: 1.95312vw;
    height: 1.82292vw;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
  }
  .header .nav .case {
    margin-top: 6.51042vw;
    display: -ms-flexbox;
    display: flex;
  }
  .header .nav .case a {
    display: block;
    width: 39.0625vw;
    height: 11.06771vw;
    color: #fff;
    line-height: 11.06771vw;
    font-size: 3.64583vw;
    text-align: center;
    margin-top: 0;
  }
  .header .nav .case a:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    left: 6.51042vw;
  }
  .header .nav .case a.men {
    background: #24c6ef;
  }
  .header .nav .case a.women {
    background: #ff6490;
  }
  footer .recruit_btn {
    padding: 14.32292vw 0;
    position: relative;
  }
  footer .recruit_btn a:after {
    content: "";
    position: absolute;
  }
  footer .recruit_btn a.tel {
    font-size: 6.51042vw;
    font-weight: bold;
    padding-left: 7.8125vw;
    line-height: 8.07292vw;
  }
  footer .recruit_btn a.tel:after {
    width: 5.46875vw;
    height: 6.64062vw;
    top: 11.06771vw;
    left: 1.30208vw;
    background: url("../images/phone_icon_foo.png") no-repeat;
    background-size: contain;
  }
  footer .recruit_btn a.mail {
    background: #ededed;
    line-height: 10.41667vw;
    height: 10.41667vw;
  }
  footer .recruit_btn a.mail:after {
    left: 3.90625vw;
    top: 6.51042vw;
  }
  .container {
    min-width: 320px;
  }
  .mv {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .mv .main_ttl {
    position: absolute;
    bottom: 20.83333vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    top: 19.53125vw;
  }
  .mv .main_ttl h2 {
    color: #fff;
    font-size: 4.42708vw;
    line-height: 5.98958vw;
    position: relative;
    text-align: center;
  }
  .mv .main_ttl h2:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .ttl {
    font-size: 4.42708vw;
    color: #000;
    line-height: 5.46875vw;
    padding-bottom: 2.60417vw;
    border-bottom: 1px solid #000;
    margin-bottom: 7.8125vw !important;
    text-align: left;
  }
  .ttl span {
    color: #24c6ef;
    margin-left: 3.90625vw;
    font-size: 3.90625vw;
    font-family: "Ubuntu";
  }
  h3 {
    font-size: 4.94792vw;
    text-align: center;
    color: #000;
    line-height: 3.38542vw;
    margin-bottom: 9.11458vw;
  }
  p {
    color: #000;
    font-size: 3.90625vw;
    line-height: 6.25vw;
  }
  a {
    text-decoration: none;
  }
  .recruit {
    padding: 13.02083vw 0 0;
  }
  .recruit ul li {
    width: 100%;
  }
  .recruit ul li:not(:last-child) {
    margin-bottom: 10.41667vw;
  }
  .recruit ul li .txt_detail {
    background: #f1f1f1;
    padding: 3.90625vw 5.20833vw 3.90625vw;
    position: relative;
    margin-top: -23.4375vw;
  }
  .recruit ul li .txt_detail h5 {
    font-size: 4.16667vw;
    border-bottom: 1px solid #000;
    line-height: 5.72917vw;
    text-align: center;
    padding-bottom: 2.60417vw;
    margin-bottom: 3.25521vw;
  }
  .recruit ul li .txt_detail p:nth-of-type(1) {
    font-size: 4.16667vw;
    font-weight: bold;
    line-height: 5.72917vw;
    text-align: center;
    margin-bottom: 2.60417vw;
  }
  .recruit ul li .txt_detail p:nth-of-type(2) {
    font-size: 3.90625vw;
    line-height: 5.46875vw;
  }
  .recruit ul li .txt_detail .btn_detail .btn {
    background: #10aad1;
    color: #fff;
  }
  .recruit ul li .txt_detail .btn_detail .btn:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .btn {
    width: 52.08333vw;
    height: 10.41667vw;
    font-size: 3.90625vw;
    line-height: 10.41667vw;
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5.20833vw auto 0;
  }
  .btn:before {
    content: "";
    position: absolute;
    right: 4.16667vw;
    top: 4.6875vw;
    width: 2.08333vw;
    height: 2.08333vw;
    border-top: 1px solid #24c6ef;
    border-right: 1px solid #24c6ef;
    transform: rotate(45deg);
  }
  .more {
    border: 1px solid #10aad1;
    color: #000;
    margin: 0 auto;
    margin-top: 7.8125vw;
  }
  .recruit_btn {
    width: 100%;
    height: 15.625vw;
    background: #24c6ef;
    -ms-flex-pack: justify;
        justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin: 7.8125vw auto 0;
  }
  .recruit_btn .tel {
    font-size: 5.72917vw;
    line-height: 15.625vw;
    padding-left: 3.90625vw;
    color: #fff;
    font-size: "Roboto";
  }
  .recruit_btn .mail {
    margin: 0 2.60417vw 0 0;
    width: 39.0625vw;
  }
  .recruit_btn .mail:after {
    top: 5.20833vw;
  }
  .mail {
    margin: 5.20833vw 4.55729vw 0 0;
    background: #fff;
    line-height: 7.8125vw;
    font-size: 3.64583vw;
    height: 7.8125vw;
    font-weight: bold;
    padding-left: 3.90625vw;
    color: #000;
    position: relative;
    text-align: center;
  }
  .mail:after {
    content: "";
    position: absolute;
    width: 3.25521vw;
    height: 4.16667vw;
    top: 50%;
    transform: translateY(-50%);
    left: 3.90625vw;
    background: url("../images/mail.png") no-repeat;
    background-size: contain;
  }
  main {
    position: relative;
    padding-top: 71px;
  }
  .show_pc {
    display: none !important;
  }
}
